//tipografia
$fuente_principal: 'Monserrat', sans-serif;


//colores
$verde: #4CB8B3;
$rosa: #e6052b;
$amarillo: #FEF46D;
$morado: #752F97;
$negro: #000000;
$blanco: #FFFFFF;
$gris: #e1e1e1;
//mediaquerys
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktopXL: 1200px;
